* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;

    top: 0;
    left: 0;

}

#video01 {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

body {


    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;

}

.container {
    padding: 30px;
    background-color: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    border-radius: 35px;
}

button {
    padding: 15px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 17px;
    transition: opacity 0, 5s ease-in-out;

}

.button {
    margin: 30px 0;
    display: flex;
    gap: 30px;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #a200ff;
}

#paper {
    background-color: #9ee01a;
}

#scissors {
    background-color: #7dbeed;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
}

.your-score span {
    color: rgba(0, 0, 255, 0.902);
}

.machine-score span {
    color: rgba(255, 0, 0, 0.959);
}
    .result{
        font-size: 30px;
    }

@media screen and (max-width:600px) {
    .button {
       display: block;
        justify-content: space-around;
        flex-direction: column;
        font-size: 20px;

    }
    p{
        font-size: 15px;
    }
    .container{
        font-size: px;
    }
.result{
    font-size: 20px;
}
    #video01 {
        width: 100vw; /* Largura igual à largura da viewport */
        height: 100vh; /* Altura igual à altura da viewport */
        display: block;
        margin: 0 auto;
        object-fit: cover;  

    }
}
    

 